version: '3.8'

services:
  protein-predictor:
    build: .
    image: protein-predictor:v1
    container_name: protein_api
    ports:
      - "8000:8000"
    environment:
      - "MODEL_PATH=/app/models/final_hybrid_model"
    volumes:
      # Montamos ./logs para ver qué pasa dentro sin entrar
      - ./logs:/app/logs
    restart: unless-stopped
    # Límites de recursos (bueno para evitar cuelgues)
    deploy:
      resources:
        limits:
          memory: 4G